<section id="welcome">
  <div class="welcome_container">
    <div class="header_bar">
      <h3>water toolkit testsite</h3>
    </div>
    <div class="welcome_parallax_container" id="welc_par">
    </div>
    <div class="center_container" id="header_msg">
      {{#if hello_msg}}
        <div class="hello">{{hello_msg}}</div>
      {{/if}}
    </div>
  </div>
</section>
