<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Josefin+Slab|Lobster|Lobster+Two|Roboto|Lato|Oswald" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

	<title>{{title}}</title>

	</head>
	<body>

	<div id="main">
		{{> header}}
	</body>

	<script src="index.js"></script>
</html>
